CI_ENVIRONMENT=development

# Database settings
database.default.hostname=localhost
database.default.database=pos_db
database.default.username=root
database.default.password=
database.default.DBDriver=MySQLi
database.default.DBPrefix=
database.default.port=3306

# App settings
app.baseURL=http://localhost:8080/
